includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: .phpstan-cache
    parallel:
        jobSize: 1000
        maximumNumberOfProcesses: 1
